html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed; 
    font-size: 18px;
    word-spacing: 6px;
    width: 100%; 
    background-color: #464866;
    border-radius: 2px;
    z-index: 3000; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.header{
    background-image: url(Images/Homepage.jpg);
    background-size: contain;
    background-attachment: inherit;
    height: 99vh;
}
.line1 {
    height: 3px;
    background-color:#ff005c;
}
.line2 {
    height: 2px;
    border-bottom: 2px black dashed;
}
.line {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.719);
}

.line3 {
    height: 3px;
    background-color:#fcf340;
}

#home{
    padding-left: 20px;
    padding-right: 20px;
}
.header1{
    margin-top: 460px;
    color: white;
    font-size: 70px;
}
.header2{
    color: white;
    font-size: 50px;
    font-family: barlow,sans-serif;
}
.header3{
    margin-top: 460px;
    color: white;
    font-size: 20px;
}
#btn1{
    font-weight: 500;
    color: #000;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.lambo{
    background-color: #fcf340;
    height: 80vh;
    font-family: barlow,sans-serif;
}
#lamboimg{
    width: 250px;
    height: 170px;
    margin-top: -50px;
    margin-bottom: -50px;

}
#aboutus_header{
    width: 200px;
    height: 70px;
}
.about_us{
    background-color: #feffff;
    height: 80vh;
    font-family: barlow,sans-serif;
}
.cybertruck{
    background-color: #ff005c;
    height: 80vh;
    font-family: barlow,sans-serif;
}
#cybertruckimg{
    max-width: 400px;
    max-height: 70px;
}
.marketting{
    text-align: center;
}
.vintage-text{
    padding-top: 70px;
}
.vintage{
    display: block;
    color: white;
    background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0)),url(Images/vintage-car.jpg);
    background-size: contain;
    background-position: center right;
    height:400px;
    width:auto;
    text-align: left; 
    padding: 0 60px;
    box-sizing: border-box;
    font-family: barlow,sans-serif;
}


.customs{
    background-color: rgba(134, 204, 29, 0.699);
    height: 400px;
    font-family: barlow,sans-serif;
}
#customss{
    padding-top: 4px;
    font-family: 'Cedarville Cursive', cursive;
}
.Gallery{
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    margin:auto;
}
.Gallery:hover img{
    opacity: 0.7;
}
#Gallery_caption{
    text-align: center;
}
#chimp{
    border-radius: 5px;
    width: auto;
    margin-top: 20%;
    height: 70vh;
    margin-left: -50px;
}

.counter-section {
    margin: 30px;
    font-size: 40px;
    color: rgba(34, 33, 33, 0.795);
}
.footer {
    background-image: url(https://fishbar.files.wordpress.com/2010/03/footer3.png);
    background-size: cover;
    background-attachment: fixed;
    height: 230px;
}

#a-footer {
    font-size: 35px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #464866;
}

.footer-span {
    text-align: center;
    font-size: small;
    color: white;
}
